<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
<header class="header">
      <div class="logo-box">
        <span alt="Logo" class="logo"> </span>
      </div>
      <div class="text-box">
        <h1 class="heading-primary">
          <span class="heading-primary-main">Chat With Me.</span>
          <span class="heading-primary-sub">Learning with Python</span>
        </h1>
        <a href="#" class="btn_ bt1 btn-white">Live</a>
        <a href="#" class="btn_ bt1 btn-white chatbox__button">Chat</a>
        <a href="#" class="btn_ bt2 btn-white">View Data</a>
      </div>
    </header>
</div>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
<!--                    <img src="#" alt="image">-->
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">So, you want to Chat?</h4>
<!--                    <p class="chatbox__description&#45;&#45;header"><strong>How can I help you?<br /> I am</strong><strong class="cl-w">studious_robot</strong></p>-->
                </div>
            </div>
            <div class="chatbox__messages">
                <p class="chatbox__description--header"><strong>How can I help you?<br /> I am </strong><strong class="cl-w">studious_robot</strong></p>
                <div>

                </div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Ask me a question...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
<!--        <div class="chatbox__button">-->
<!--&lt;!&ndash;            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>&ndash;&gt;-->
<!--                <button class="buttonTest">activate me.</button>-->
<!--        </div>-->
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>